.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  height: 100%;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

